services/mysql_data
services/docker-compose.yml

# Installed Node.js packages
services/node_modules/

# Private environment configuration
services/.env

services/uploads/*
assets/images/uploads/*

# ============================================================
# MACOS
# ============================================================

.DS_Store

# ============================================================
# LOG FILES
# ============================================================

*.log
npm-debug.log*
