.computer-login-card {
  padding: 30px 25px;
}

.computer-login-card input {
  padding: 12px 16px;
}

.login-main-button {
  padding: 12px;
}

/* Create New Account Button */
.create-account {
  padding: 10px 20px;
}
